:root {
  --white: #ffffff;
  --black: #000000;
  --accent: #118da8;
}
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: 2px dotted var(--accent);
  outline-offset: 3px;
}
::-webkit-scrollbar {
  width: 0.3em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  outline: 1px solid slategrey;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}
::selection {
  background-color: var(--accent);
  color: var(--white);
}
::-moz-selection {
  background-color: var(--accent);
  color: var(--white);
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", "Arial", sans-serif;
  background-color: #191919;
  color: var(--white);
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1400px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding: 40px 0px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-link {
  color: var(--white);
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  transition: all 0.3s ease;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent);
}
.menu-link:active {
  opacity: 0.8;
}
.mobile-menu-button {
  display: none;
}
.mobile-menu-btn {
  color: var(--white);
  background-color: var(--black);
  display: flex;
  align-items: center;
  border: none;
  padding: 10px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #0f0f0f;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 120px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 60px;
  margin-left: 50px;
  margin-top: 20px;
  padding: 30px;
}
.sidenav a {
  padding: 20px 10px 20px 32px;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: var(--white);
  display: block;
  transition: 0.3s;
}
.sidenav a:hover,
.sidenav a:focus {
  color: var(--accent);
}
.sidenav a:active {
  opacity: 0.8;
}
.hero-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero-box-content {
  margin-left: 60px;
  margin-right: 100px;
}
.hero-box-content h2 {
  width: 526px;
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
  color: var(--white);
}
.hero-box-content h2 span {
  background-image: url("../img/bottom-line.svg");
}
.hero-box-content h2 b {
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  margin-left: 25px;
}
.listen {
  margin-top: 90px;
  color: var(--white);
}
.listen-box {
  margin-top: 16px;
}
.listen-box a {
  margin-right: 17px;
}
.listen-box a:hover,
.listen-box a:focus {
  opacity: 0.7;
}
.listen-box a:active {
  opacity: 0.5;
}
.episodes {
  margin: 90px 0px;
}
.episode-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.episode-top h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
  margin-top: 0;
  margin-bottom: 0;
}
.episode-top-btn {
  background: var(--accent);
  color: var(--white);
  border: 1px solid var(--accent);
  border-radius: 6px;
  padding: 12px 20px;
  transition: all 0.3s ease;
}
.episode-top-btn:hover,
.episode-top-btn:focus {
  background-color: transparent;
  color: var(--accent);
}
.episode-top-btn:active {
  opacity: 0.8;
}
.episode-bottom {
  margin-top: 65px;
}
.episode-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #000000;
  border-radius: 32px;
  padding: 40px;
  margin-bottom: 60px;
}
.episode-item-img img {
  width: 1000px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.episode-item-content {
  margin: 0px 53px;
}
.item-top {
  margin-bottom: 18px;
}
.tag {
  background: #191919;
  border-radius: 6px;
  padding: 0px 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 0;
}
.title {
  color: var(--accent);
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  margin-top: 48px;
  margin-bottom: 0;
}
.episode-item-content h3 {
  width: 701px;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 2.56px;
  margin-top: 0;
  margin-bottom: 28px;
}
.episode-item-content .item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 0;
  margin-bottom: 20px;
}
.about-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-left .about-left-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--accent);
  margin-top: 0;
  margin-bottom: 0;
}
.about-left h2 {
  font-weight: 400;
  font-size: 65px;
  line-height: 79px;
  letter-spacing: 2.88px;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 28px;
}
.about-left-text {
  width: 556px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 33px;
}
.about-right img {
  border-radius: 14px;
}
.subscribe {
  margin: 200px 0px;
}
.subscribe-box {
  background-color: var(--black);
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}
.subscribe-left span {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--accent);
  margin-top: 0;
  margin-bottom: 0;
}
.subscribe-left h2 {
  width: 431px;
  font-weight: 400;
  font-size: 72px;
  line-height: 79px;
  letter-spacing: 2.88px;
  margin-top: 0;
  margin-bottom: 0;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subscribe-form input {
  width: 522px;
  height: auto;
  background: #191919;
  border: 1px solid #191919;
  color: var(--white);
  border-radius: 6px;
  padding: 19px 26px;
  margin-bottom: 20px;
  outline: none;
}
.subscribe-form input:focus {
  border: 1px solid var(--accent);
}
.subscribe-form button {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease;
}
.subscribe-form button:hover,
.subscribe-form button:focus {
  background-color: transparent;
  color: var(--accent);
}
.subscribe-form button:active {
  opacity: 0.7;
}
.cards-box {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap: 20px;
}
.card-item {
  background-color: var(--black);
  border-radius: 32px;
  padding: 55px;
}
.card-item h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  margin: 20px 0px;
}
.card-item p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}
.footer {
  margin-top: 150px;
  padding-bottom: 150px;
}
.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social {
  margin-top: 30px;
}
.social a {
  margin-right: 13px;
}
.social a:hover,
.social a:focus {
  opacity: 0.7;
}
.social a:active {
  opacity: 0.5;
}
.footer-right {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 150px;
}
.footer-menu {
  margin: 0;
  padding: 0;
}
.footer-menu li {
  margin-bottom: 10px;
}
.footer-menu li a {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
}
.footer-menu li a:hover,
.footer-menu li a:focus {
  opacity: 0.6;
}
.footer-menu li a:active {
  opacity: 0.4;
}
.music-pls img {
  margin-right: 17px;
}
@media only screen and (max-width: 1100px) {
  .episode-item {
    display: flex;
    flex-direction: column;
  }
  .subscribe-form {
    align-items: center;
    justify-content: center;
  }
  .subscribe-box {
    display: flex;
    flex-direction: column;
  }
  .subscribe-left {
    text-align: center;
  }
  .subscribe-left h2 {
    width: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 1000px) {
  .hero-box {
    display: flex;
    flex-direction: column;
  }
  .about-box {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-left-text {
    width: auto;
  }
  .cards-box {
    display: grid;
    grid-template-columns: auto auto;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
  }
  .footer-right {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 900px) {
  .episode-item-content {
    margin: 0;
  }
  .episode-item-content h3,
  .episode-item-content .item-text {
    width: auto;
  }
}
@media only screen and (max-width: 800px) {
  .cards-box {
    display: grid;
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 700px) {
  .menu {
    display: none;
  }
  .mobile-menu-button {
    display: block;
  }
  .hero-box-content h2 {
    width: auto;
    font-size: 60px;
    line-height: 78px;
  }
  .subscribe-form input {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .footer-right {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .hero-box-content h2 {
    width: auto;
    font-size: 50px;
    line-height: 68px;
  }
}
